venv/
__pycache__/
*.pyc
*.pth
*.onnx
data/
models/*.pkl
*.egg-info/
.DS_Store
notebooks/.ipynb_checkpoints/
*.zip
*:Zone.Identifierfrontend/neith/node_modules/
frontend/neith/.next/
mitaoe-coursework/
models/neith_alerts.db
